<!-- Begin Header -->
<div class="header-wrapper">
  <div class="header"> 
    <!-- Begin Logo -->
    <h1 class="logo"> <a href="{{ site.baseurl }}/" title="acts2fellowship minnesota"><img src="{{ site.baseurl }}/images/logo.png" alt="acts2fellowship minnesota" /></a> </h1>
    <!-- End Logo --> 
    <!-- Begin Menu -->
    <div id="menu" class="menu">
      <ul id="tiny">
        <li><a href="{{ site.baseurl }}/category/signups">Sign-ups</a></li>
        <li><a href="{{ site.baseurl }}/category/photos">Photos</a></li>
        <li><a href="{{ site.baseurl }}/category/videos">Videos</a></li>
        <li><a href="{{ site.baseurl }}/praise.html">A2F Praise</a></li>
		<li><a href="{{ site.baseurl }}/archives">Archives</a></li>
      </ul>
    </div>
    <div class="clear"></div>
    <!-- End Menu --> 
  </div>
</div>
<!-- End Header -->